/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  width: 100%;
}

a {
  color: #2E92DA;
  text-decoration: none;
}

ul {
  padding-left: 20px;
}

b, strong {
  color: #555;
}

li {
  padding: 0;
  list-style-type: square;
  font-size: 20px;
  margin-left: 0;
  line-height: 160%;
}

blockquote {
  color: #000;
  font-style: italic;
}

::selection {
  background-color: #2B2B2B;
  color: #eee;
}

.clear {
  clear: both;
}

.container {
  width: 650px;
  margin: 0 auto;
}

.site-wrapper {
  width: 100%;
}

.hero-wrapper {
  height: 350px; 
  position: fixed; 
  top: 0; 
  left: 0; 
  right: 0;
}

.hero {
  background-size: cover; 
  position: absolute; 
  top: 0; 
  left: 0; 
  bottom: 0; 
  background-position: center; 
  right: 0;
}

.content-wrapper {
  height: 100% !important; 
  width: 100% !important;
  position: relative; 
  margin-top: 350px; 
  background-color: #fff;
}
.content-wrapper header {
  text-align: center; 
  margin-bottom: 70px;
}
.content-wrapper header .name {
  font-size: 50px; 
  font-weight: bold;
}
.content-wrapper header .name a {
  color: #333;
}
.content-wrapper header .name a:hover,
.content-wrapper header .menu li a:hover,
.content-wrapper header .menu li a:active,
.content-wrapper header .menu li a:focus {
  color: #2E92DA;
}
.content-wrapper header .desc {
  font-size: 18px; 
  color: #555; 
  margin-bottom: 30px;
}
.content-wrapper header .menu {
  margin-top: -10px; 
  margin-bottom: 30px; 
  padding: 0; 
  list-style: none; 
  list-style-image: none;
}
.content-wrapper header .menu li {
  display: inline-block; 
  vertical-align: top; 
  padding: 10px;
  cursor: pointer;
}
.content-wrapper header .menu li a {
  color: #444;
  outline: 0;
}
.content-wrapper header .menu li a .title {
  font-size: 11px; 
  text-transform: uppercase; 
  margin-bottom: -10px; 
  letter-spacing: 2px;
}

.avatar-wrapper {
  margin-top: -60px; 
  margin-bottom: 20px; 
  display: inline-block; 
  width: 120px; 
  height: 120px; 
  background-color: #fff; 
  border: 3px solid #fff; 
  z-index: 500; 
  position: relative; 
  border-radius: 100%; 
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}
.avatar-wrapper .avatar-frame {
  display: block; 
  background-position: center; 
  margin: 0 auto; 
  overflow: hidden; 
  width: 120px; 
  height: 120px; 
  line-height: 0; 
  background-size: cover; 
  border-radius: 100%;
}
.avatar-wrapper .avatar-image {
  vertical-align: top; 
  width: 100%; 
  height: 100%; 
  border-radius: 100%; 
  background: #f0f0f0;
}

.aside {
  margin-bottom: 25px;
  background-color: #eee;
  padding: 10px;
  font-size: 14px;
}

h1 {
  text-transform: uppercase;
  font-size: 26px;
  margin: 40px -30px;
  padding: 20px 30px;
  font-weight: 500;
  color: #444;
  border-left: 7px solid #ddd;
  border-right: 7px solid #ddd;
}

h2 {
margin: 50px -30px 20px -30px;
padding: 10px 30px 10px 25px;
text-transform: uppercase;
font-size: 20px;
font-weight: 500;
color: #444;
}

h3 {
  margin: 50px -30px 20px -27px;
  padding: 15px 30px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  color: #444;
}

.content {}
.content i, .content em {
  font-style: italic;
  color: grey;
}
.content b, .content strong {
  font-weight: 700;
}
.content em b {
}
.content p {
  font-size: 20px;
  line-height: 160%;
  margin: 25px 0;
}
.content img, .content video {
}
.content pre {
  padding: 10px 20px;
  margin: 0 50px;
  background-color: #fbfbfb;
  border-radius: 5px;
}
.content code {
  color: #444;
  font-size: 16px;
  padding: 0 3px;
}
.date {
  font-size: 14px;
  text-transform: uppercase;
  color: #999;
  width: 32px;
  float: right;
  margin: -127px -80px 0 0;
  font-weight: 300;
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}
.content hr{
}
.content .mail {
  color: #2E92DA;
  font-style: italic;
}
.content .video {
  width: 640px;
  height: 480px;
}

.clear {
  height: 50px;
}

.listing {
  margin: 25px 0;
  padding: 0;
}
.listing li {
  list-style: none;
  padding: 7px 5px;
  font-size: 18px;
  border-bottom: 1px solid #eee;
}
.listing span {
  padding-top: 2px;
  float: right;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300;
  color: #999;
}
.listing a {
  text-decoration: none;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 650px) {
    /* Style adjustments for viewports that meet the condition */
    h1 {
      text-align: center;
      margin: 20px 4px;
      padding: 0;
    }
    h2, h3 {
      text-align: center;
      margin: 0;
      padding: 0;
    }
    .hero-wrapper {
      height: 250px;
    }
    .content-wrapper {
      margin-top: 250px;
    }
    .container {
      width: auto;
    }
    .content p {
      padding: 0 12px;
      text-align: justify;
    }
    .social {
      display: none;
    }
    .date {
      width: auto;
      float: left;
      margin: -14px 0 0 12px;
      -webkit-transform: none;
      transform: none;
    }
    .listing li {
      font-size: 15px;
    }
    .content .video {
      width: 85%;
      height: auto;
      padding: 0 20px;
    }
}
@media only screen and (min-width: 650px) and (max-width: 850px) {
  h1 {
    margin: 40px -1%;
  }
  .container {
    width: auto;
    padding: 0 10px;
  }
  .date {
      width: auto;
      float: left;
      margin: -30px 0 0 0;
      -webkit-transform: none;
      transform: none;
    }
}
@media only screen and (min-width: 930px) and (max-width: 1080px) {
  
}