<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>
          {% if page.title %}
            {{ page.title }} &ndash;
          {% endif %}
          {{ site.name }}
        </title>
        <meta name="author" content="{{ site.name }}" />
        <meta name="description" content="{{ site.description }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="alternate" type="application/rss+xml" href="/atom.xml" />

        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <script type="text/javascript" src="//use.typekit.net/zol4pxf.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    </head>
    <body>
      <div class="site-wrapper">
        <div class="hero-wrapper">
          <div class="hero" style="background-image: url({{ site.heroaws_url }}{{ page.herounit }}.jpg);"></div>
        </div>

        <div class="content-wrapper">

          <header>
            <div class="avatar-wrapper">
              <span class="avatar-frame">
                <img class="avatar-image" src="https://d262ilb51hltx0.cloudfront.net/fit/c/800/800/0*iBiGeh4kIw4F3PrB.jpeg">
              </span>
            </div><!-- avatar -->
            
            <div class="name"><a href="/">{{ site.name }}</a></div>

            <div class="desc"><span>{{ site.short_desc }}</span></div>

            <ul class="menu">
              <li>
                <a href="/about"><div class="title"><span>About</span></div>
                <i class="fa fa-user"></i></a>
              </li>
              <li>
                <a href="https://github.com/{{site.github}}" target="_blank"><div class="title"><span>Github</span></div><i class="fa fa-github"></i></a>
              </li>
              <li>
                <a href="https://twitter.com/{{site.twitter}}" target="_blank"><div class="title"><span>Twitter</span></div><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="http://instagram.com/{{site.instagram}}" target="_blank"><div class="title"><span>Instagram</span></div><i class="fa fa-instagram"></i></a>
              </li>
              <li>
                <a href="http://www.linkedin.com/in/{{site.linkedin}}" target="_blank"><div class="title"><span>LinkedIn</span></div><i class="fa fa-linkedin"></i></a>
              </li>
              <li>
                <a href="/resume"><div class="title"><span>Resume</span></div><i class="fa fa-file"></i></a>
              </li>
            </ul>
          </header><!-- header -->

          <div>
            <section class="container content">

            {{ content }}

            </section>
          </div><!--Content-->

        </div>
        
      </div>
      <!-- Google Analytics -->
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-41299285-1', 'ravs.me');
        ga('send', 'pageview');

      </script>
      <!-- Google Analytics end -->
    </body>
</html>
